p.note-date {
	background-color: #232323;
	color: #fff;
	font-family: arial, helvetica, sans-serif;
	padding: 10px;
	margin-bottom: 0;
}

p.note-text {
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom:10px;
	padding-right: 30px;
	background-color: #e2ba6f;
	margin-top: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: 'Montserrat', sans-serif;
}

.inline-em {
	font-style: italic;
}

.notes {
	max-width: 85%;
	margin: 0 auto;
}

.demographics-data {
	text-align: center;
	font-size: 30px;
	padding-bottom: 30px;
	margin: 0;
}

.header {
	background-color: #e2ba6f;
	max-width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 30px;
	box-shadow: 10px 10px 25px #727272;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

.header-text {
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 7px;
}

p.moused-over-note-text {
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom:10px;
	padding-right: 30px;
	background-color: #e2ba6f;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
}

#moused-over-note {
	
}

#moused-over-delete-button-div {
	padding-bottom: 10px;
	padding-right: 75px;
	text-align: right;
	background-color: #e2ba6f;
	margin-top: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#moused-over-delete-button {
	font-family: 'Montserrat', sans-serif;

}