.montserrat-font {
	font-family: 'Montserrat', sans-serif;
}

.bottom-corner-radius {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.standard-shadow {
	box-shadow: 10px 10px 25px #202021;
}

.center {
	text-align: center;
}

.standard-bkgd-color {
	background-color: #e2ba6f
}

.margin-btm-0 {
	margin-bottom: 0;
}

.pad10 {
	padding: 10px;
}

.fix-size {
	width: 95%;
	resize: none;
}

.margin0 {
	margin: 0 auto;
}

.wth50 {
	max-width: 50%;
}

.floatR {
	float: right;
}

.hide {
	display: none;
}
/***************************************/
.note-date {
	font-family: arial, helvetica, sans-serif;
	background-color: #232323;
	color: #fff;
}

/* .search-result {
	display: none;
}

.show {
	display: contents;
} */

.note-text {
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom:10px;
	padding-right: 30px;
	margin-top: 0;
}

.inline-em {
	font-style: italic;
}

.subheader {
	font-size: 30px;
	padding-bottom: 30px;
	z-index: 1;
}
/* .demographics {
	position: absolute;
}
 */
.header, .nav-div {
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

.header-text {
	text-decoration: underline;
	font-size: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 7px;
	font-weight: bold;
}

#moused-over-delete-button-div {
	padding-bottom: 10px;
	padding-right: 75px;
	text-align: right;
	margin-top: 0;
}

.nav-div {
	padding: 5px;
	font-size: 20px;
	padding-right: 15px;
	min-height: 45px;
}

.navigation {
	padding-right: 20px;
	padding-left: 20px;	
}

#new-entry-button {
	margin-right: 10%;
}
.search-bar {
	margin-left: 15%;
	width: 25%;
	float: left;
	z-index: 3;
	overflow: scroll;
	background-color: #EEEEECFF;
}

.search-results {
	
}

.modal-bkgd {
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    width: 45%;
}

#close-note-modal {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

#close-note-modal:hover {
	background-color: #af935f;
	cursor: pointer;
}

#submit-new-note {
	margin-left: 85%;
}